<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Welcome to (name)</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Welcome to (name)</h1>
   
    <h2>We believe in giving everyone the resources they need to help themselves, and loved ones cope with whatever challenges they may face, specificially during their school years.</h2>
    <hr>
    <div>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/_y97VF5UJcc?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>Source: https://youtu.be/_y97VF5UJcc?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD</p>
    </div>
    <hr>
    <iframe width="480" height="300" src="https://www.youtube.com/embed/ETN7RXV_d3g?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <p>https://youtu.be/ETN7RXV_d3g?list=PLw8TLvRgeKJ4cvjIB03ji7bdJ7XzCOAoD</p>
             </body>
</html>